.toggleButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: fit-content;
    background: #000000;
    height: 30px;
    padding: 5px 8px;
    border-radius: 20px;
    color: #ffffff;
}

.activeTab{
    border-radius: 19px;
    width: fit-content;
    padding: 5px 10px;
    color: black;
    background: #2e7d32;
}